<!--     <div class="container-fluid">
 -->      
      <div class="row">
        <div class="col-sm-6 col-md-6 sidebar">
          <script type="text/javascript">

              var map;

              function initialize() {
                var myOptions = {
                  zoom: 5,
                  center: new google.maps.LatLng(0, 0),
                  panControl:false,
                  zoomControl:true,
                  mapTypeControl:false,
                  scaleControl:false,
                  streetViewControl:false,
                  overviewMapControl:true,
                  rotateControl:true,    
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                var map = new google.maps.Map(document.getElementById("map-index-canvas"), myOptions);
                setMarkers(map,annonces_json);
              };

              // function setMarkers(map, latitude, longitude) {
              //   var marqueur = new google.maps.Marker({
              //   position: new google.maps.LatLng(latitude, longitude),
              //   map: map
              //   });
              // }

            //   var annonces = [
            //   ['Bondi Beach', 50, 3, 4],
            //   ['Coogee Beach', 51, 4, 5],
            //   ['Cronulla Beach', 52, 3, 3],
            //   ['Manly Beach', 53, 4, 2],
            //   ['Maroubra Beach', 54, 5, 1]
            // ];

              var annonces_json = <%= raw @hash.to_json %>;

              // var test = annonces_json[7];

              // alert(annonces_json.length);
              // alert(test.lat);




              function setMarkers(map, locations) {
                var bounds = new google.maps.LatLngBounds();
                // var annonceTest0 = locations[0];
                // // var annonceTest1 = locations[1];

                // var marqueur0 = new google.maps.Marker({
                //   position: new google.maps.LatLng(annonceTest0[1], annonceTest0[2]),
                //   map: map
                //   });
                // var marqueur1 = new google.maps.Marker({
                //   position: new google.maps.LatLng(annonceTest1[1], annonceTest1[2]),
                //   map: map
                //   });
                // alert(locations.length);
                // for (var i = 0; i < 9; i++) {
                  // alert(i);
                // more statements
                // }

                // var latlngbounds = new google.maps.LatLngBounds();
                for (var i = 0; i < locations.length; i++) {
                // for (var i = 0; i < 10; i++) {
                  var annonce = locations[i];
                  var myLatLng = new google.maps.LatLng(annonce.lat, annonce.lng);
                  // alert(myLatLng);

                  var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: annonce.marker_title
                    // zIndex: annonce[3]
                  });
                  // latlngbounds.extend(myLatLng);

                  bounds.extend(myLatLng);
                };
                // alert(latlngbounds);
                map.fitBounds(bounds);
              };


              // function initialize() {
              //   var mapOptions = {
              //     zoom: 15,
              //     center: new google.maps.LatLng(0, 0)

              //   };
              //   map = new google.maps.Map(document.getElementById('map-index-canvas'),
              //       mapOptions);
              // }
              google.maps.event.addDomListener(window, 'resize', initialize);
              google.maps.event.addDomListener(window, 'load', initialize);

            </script>

              <div id='map-index-canvas'></div>

        </div>

        <div class="col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-6 main">

          <%= form_tag(annonces_path, :method => "get", class: "navbar-form navbar-right", id: "search-form") do %>
              <!-- <div class="form-group">
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Recherche" %>
                <button class="btn btn-default" type="submit">Envoi</i></button>
              </div>  -->
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Recherche" %>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </span>
              </div>

              <% end %>

<!--               <h1>Toutes les annonces</h1>
 -->
              <% @annonces.each do |annonce| %>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h3><%= link_to annonce.name, annonce %></h3>
                    <p><%= annonce.description %></p>
                    <p><%= link_to Category.find(annonce.category_id).name, category_path(annonce.category_id) if (annonce.category_id != nil) %></p>
                    <p><%= annonce.user.name if annonce.user.name %></p>
<!--                     <p><%= link_to 'Show', annonce %></p>
 -->                  <% if annonce.user == current_user %>
                      <%= link_to edit_annonce_path(annonce) do %>
                        <span class="glyphicon glyphicon-edit"></span>
                      <% end %>
      <!--               <td><%= link_to 'Edit', edit_annonce_path(annonce) %></td>
       -->              
                    <%= link_to 'Destroy', annonce, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                  </div>
                </div>
              <% end %>




              <div class="center">
                 <%= will_paginate @annonces, renderer: BootstrapPagination::Rails %>
              </div>

            </div>
        </div>
<!--       </div>
 -->

