<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @category.desc %>
</p>

<h3> Annonces appartenant à cette catégorie </h3>
<% Annonce.where(category_id: @category.id).each do |annonce| %>
<li> <%= annonce.name %> </li>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
