<p id="notice"><%= notice %></p>

<strong>Adress:</strong>
<p>
  <%= @location.adress %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<script type="text/javascript">
	$(document).ready(function() { 
	  if( $('#map').length  ) {
	    // var location = '<%= @location.to_json %>'   // pass ruby variable to javascript
	    gmap_show('<%= @location.latitude %>','<%= @location.longitude %>');
	  }; 
	});
</script>

<div id='map'></div>



<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
