<p id="notice"><%= notice %></p>

<p>
  <strong>Adress:</strong>
  <%= @location.adress %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<h1>Google Maps</h1>
<div id="map-container">
  <div id="map-canvas"></div>
</div>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
